:root {
    background-color: #121725;
    font-family: 'Chivo', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body {
    background-color: #121725;
    font-family: 'Chivo', sans-serif;
}